<div class="row mt-3 mb-3">
    <div class="col-5 d-none d-md-block">
        <div class="row mb-2">
            <div class="col-12">
                <div class="card w-100 border p-2">
                    <canvas class="chart" id="myChart18" style="min-height:600px;"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-7">       
        <div class="row mb-2">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <div id="effectsAndRecommendationsAlert18" class="w-100"></div>
            </div>
        </div>

    </div>
</div>

