<div class="row mt-3 mb-3">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="card border p-2">
            <canvas class="chart" id="myChart15" style="min-width:700px;"></canvas>
        </div>
    </div>
</div>
<div class="row mb-3 mt-3">
    <div class="col-12">
        <p class="text-justify ">
            Ahora que tienes identificadas las patologías del sistema de dirección presentes en tu empresa, a continuación, te presentaremos los efectos que cada una de estas patologías genera, así como algunas recomendaciones que puedes empezar a implementar para superarlas o para mantener el buen resultado que obtuviste.
        </p>
    </div>
</div>
<div class="row mb-3">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <div id="effectsAndRecommendationsAlert15" class="w-100"></div>
    </div>
</div>
