@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es-co">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro LegacyTest</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link href="~/css/legacy-bootstrap.css" rel="stylesheet" />
    <link href="~/css/legacy-color.css" rel="stylesheet" />
    <link href="~/css/legacy-home.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />

</head>
<body>
    <main>
        <div class="container px-4 pt-5">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="card shadow-lg mt-5 bg-light">
                        <div class="card-header bg-blue2 align-content-center">
                            <h4 class="text-center text-white">Regístrate a</h4>
                            <img src="~/img/logo-legacytest-white.svg" alt="SVG" class="mx-auto d-block p-3 img-fluid w-75" />
                        </div>
                        <div class="card-body">
                            <form id="registerForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="small mb-1" for="name">Nombres</label>
                                            <input class="form-control" id="name" name="name" type="text" placeholder="Ingresa tus nombres" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="small mb-1" for="surname">Apellidos</label>
                                            <input class="form-control" id="surname" name="surname" type="text" placeholder="Ingresa tus apellidos" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="small mb-1" for="email">Correo electrónico</label>
                                    <input class="form-control" id="email" name="email" type="email" aria-describedby="emailHelp" placeholder="Ingresa tu correo electrónico" required />
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="alert alert-warning mt-2" role="alert">
                                            La contraseña debe tener al menos 8 caracteres,
                                            incluyendo una letra mayúscula, una letra minúscula, un número y un carácter especial (@@ $!%*?&).
                                        </div>
                                    </div>                                 
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="small mb-1" for="inputPassword">Contraseña</label>
                                            <input class="form-control" id="inputPassword" name="password" type="password" placeholder="Ingresa tu contraseña" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="small mb-1" for="inputConfirmPassword">Confirmar Contraseña</label>
                                            <input class="form-control" id="inputConfirmPassword" name="confirmPassword" type="password" placeholder="Confirma tu contraseña" required />
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <button class="btn btn-warning form-control  fw-bolder" id="btnRegister">Crear Cuenta</button>
                        </div>
                        <div class="card-footer text-center pb-3">
                            <a class="text-black " href="@Url.Action("Index", "Login")">¿Tienes una cuenta? Ir a iniciar sesión</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="~/js/home.js"></script>
    <script src="~/js/register.js"></script>
</body>
</html>
