@using LegacyTest.Tools;
@{
    var idCompany = Int32.Parse(SessionHelper.GetValue(User, "IdCompany").ToString());
}

<div class="banner-section" style="background-image: url('/img/wp_wellcome-min.jpg');">
    <div class="row w-100 h-100 position-absolute bottom-0">
        <div class="col-12 col-md-6 p-3 p-md-5 overlay h-100">
            <p class="fw-bolder blue5 fs-4 fs-md-1">¡Bienvenido!</p>
            <p class="mt-3 mt-md-3 text-justify fs-md-5">
                LEGACY TEST, ofrece un completo diagnóstico sobre 18 aspectos clave del sistema familiar, empresarial y patrimonial. El resultado de este diagnóstico le permitirá conocer el estado actual y le dará unas recomendaciones iniciales que puede implementar para el éxito y la sostenibilidad de su legado a largo plazo. El equilibrio entre estos aspectos aumenta la probabilidad de éxito de tu(s) compañía(s). Legacy Test, con un enfoque integral, abarca temas desde las trampas familiares hasta la estructura organizacional y los sistemas de dirección.
            </p>
        </div>
    </div>
</div>

<div class="row m-5">
    <div class="col-12 col-md-4 mb-4">
        <a class="card card-link h-100" asp-controller="Questionary" asp-action="Index" asp-route-idCompany="@idCompany">
            <div class="card-body d-flex justify-content-center flex-column">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="me-3">
                        <h3 class="fw-bolder blue3"><i class="bi bi-journal-check me-2"></i>Cuestionarios</h3>
                        <div class="small">
                            <p class="fs-6">
                                ¡Adelante, conquista esos cuestionarios y deja tu huella en Legacy Test!
                            </p>
                        </div>
                    </div>
                    <img src="~/img/questionary-min.jpg" class="rounded w-25" />
                </div>
            </div>
        </a>
    </div>

    <div class="col-12 col-md-4 mb-4">
        <a class="card card-link h-100" asp-controller="Reports" asp-action="Index">
            <div class="card-body d-flex justify-content-center flex-column">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="me-3">
                        <h3 class="fw-bolder blue4"><i class="bi bi-bar-chart-line me-2"></i>Diagnóstico</h3>
                        <div class="small">
                            <p class="fs-6">
                                ¡Visualiza y genera informes en PDF que reflejan el estado actual de tu empresa!
                            </p>
                        </div>
                    </div>
                    <img src="~/img/reports-min.jpg" class="rounded w-25" />
                </div>
            </div>
        </a>
    </div>

   @*  <div class="col-12 col-md-4 mb-4">
        <a class="card card-link h-100" asp-controller="NewController1" asp-action="Index" asp-route-idCompany="@idCompany">
            <div class="card-body d-flex justify-content-center flex-column">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="me-3">
                        <h3 class="fw-bolder blue5"><i class="bi bi-pencil me-2"></i>Nueva Funcionalidad 1</h3>
                        <div class="small">
                            <p class="fs-6">
                                ¡Explora esta nueva funcionalidad para mejorar tus habilidades!
                            </p>
                        </div>
                    </div>
                    <img src="~/img/new-functionality1-min.jpg" class="rounded w-25" />
                </div>
            </div>
        </a>
    </div>

    <div class="col-12 col-md-8 mb-4">
        <a class="card card-link h-100" asp-controller="NewController2" asp-action="Index">
            <div class="card-body d-flex justify-content-center flex-column">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="me-3">
                        <h3 class="fw-bolder blue6"><i class="bi bi-graph-up-arrow me-2"></i>Nueva Funcionalidad 2</h3>
                        <div class="small">
                            <p class="fs-6">
                                ¡Descubre informes avanzados para evaluar tu desempeño!
                            </p>
                        </div>
                    </div>
                    <img src="~/img/new-functionality2-min.jpg" class="rounded w-25" />
                </div>
            </div>
        </a>
    </div>

    <div class="col-12 col-md-4 mb-4">
        <a class="card card-link h-100" asp-controller="NewController2" asp-action="Index">
            <div class="card-body d-flex justify-content-center flex-column">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="me-3">
                        <h3 class="fw-bolder blue6"><i class="bi bi-graph-up-arrow me-2"></i>Nueva Funcionalidad 2</h3>
                        <div class="small">
                            <p class="fs-6">
                                ¡Descubre informes avanzados para evaluar tu desempeño!
                            </p>
                        </div>
                    </div>
                    <img src="~/img/new-functionality2-min.jpg" class="rounded w-25" />
                </div>
            </div>
        </a>
    </div>

    <div class="col-12 col-md-3 mb-4">
        <a class="card card-link h-100" asp-controller="NewController2" asp-action="Index">
            <div class="card-body d-flex justify-content-center flex-column">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="me-3">
                        <h3 class="fw-bolder blue6"><i class="bi bi-graph-up-arrow me-2"></i>Nueva Funcionalidad 2</h3>
                        <div class="small">
                            <p class="fs-6">
                                ¡Descubre informes avanzados para evaluar tu desempeño!
                            </p>
                        </div>
                    </div>
                    <img src="~/img/new-functionality2-min.jpg" class="rounded w-25" />
                </div>
            </div>
        </a>
    </div>

    <div class="col-12 col-md-3 mb-4">
        <a class="card card-link h-100" asp-controller="NewController2" asp-action="Index">
            <div class="card-body d-flex justify-content-center flex-column">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="me-3">
                        <h3 class="fw-bolder blue6"><i class="bi bi-graph-up-arrow me-2"></i>Nueva Funcionalidad 2</h3>
                        <div class="small">
                            <p class="fs-6">
                                ¡Descubre informes avanzados para evaluar tu desempeño!
                            </p>
                        </div>
                    </div>
                    <img src="~/img/new-functionality2-min.jpg" class="rounded w-25" />
                </div>
            </div>
        </a>
    </div>

    <div class="col-12 col-md-6">
        <a class="card card-link h-100" asp-controller="NewController2" asp-action="Index">
            <div class="card-body d-flex justify-content-center flex-column">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="me-3">
                        <h3 class="fw-bolder blue6"><i class="bi bi-graph-up-arrow me-2"></i>Nueva Funcionalidad 2</h3>
                        <div class="small">
                            <p class="fs-6">
                                ¡Descubre informes avanzados para evaluar tu desempeño!
                            </p>
                        </div>
                    </div>
                    <img src="~/img/new-functionality2-min.jpg" class="rounded w-25" />
                </div>
            </div>
        </a>
    </div> *@
</div>





