@model List<LegacyTest.Models.Plan>

<table class="table mb-0">
    <thead>
        <tr class="bg-primary text-white">
            <th class="py-3 w-25" scope="col"></th>
            <th class="py-3 w-15 text-center" scope="col">Punto de Partida Empresarial</th>
            <th class="py-3 w-15 text-center" scope="col">Suite de Exploración Empresarial</th>
            <th class="py-3 w-15 text-center" scope="col">Suite de Evaluación Empresarial</th>
            <th class="py-3 w-15 text-center" scope="col">Suite Integral de Diagnóstico</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="px-2" scope="row"></th>
            <td class="px-2 text-justify ">
                <p>¿Sabías que ciertos patrones de comportamiento, creencias y prácticas en tu empresa familiar podrían ser trampas que limitan su crecimiento y armonía? ¡Descúbrelo con nuestro cuestionario!</p>
            </td>
            <td class="px-2 text-justify">
                <p>En el mundo de las empresas familiares, no solo las trampas familiares influyen en su éxito. Descubre cómo la confianza y la dirección estratégica influyen en tu negocio.</p>
            </td>
            <td class="px-2 text-justify">
                <p>Evalúa cómo las patologías organizativas y el equipaje emocional inciden en tu negocio. Determina la idoneidad del sucesor y su impacto en el liderazgo.</p>
            </td>
            <td class="px-2 text-justify">
                <p>Evalúa tu empresa familiar con nuestros cuestionarios: aborda las tipologías de fundadores y empresas, las etapas de desarrollo y las trampas comunes. Diagnostica patologías organizativas y carga emocional.</p>
            </td>
        </tr>
        <tr>
            <th class="px-2" scope="row">Espacio empresarial</th>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
        </tr>
        <tr>
            <th class="px-2" scope="row">Cuentas de usuario</th>
            <td class="px-2 text-center">2</td>
            <td class="px-2 text-center">Ilimitadas</td>
            <td class="px-2 text-center">Ilimitadas</td>
            <td class="px-2 text-center">Ilimitadas</td>
        </tr>
        <tr>
            <th class="px-2" scope="row">Precios [No incluye IVA]</th>
            <td class="px-2">
                <div class="text-dark mb-2">
                    <p class="fs-1 text-center">$ -</p>
                </div>
                <p class="text-justify">Descubre las trampas que te impiden avanzar</p>
            </td>
            <td class="px-2">
                <div class="text-dark mb-2">
                    <p class="fs-1 text-center">$800.00</p>
                </div>
                <p class="text-justify">5% en programas de formación de <br /> Legacy School of Ownership-LSO</p>
            </td>
            <td class="px-2">
                <div class="text-dark mb-2">
                    <p class="fs-1 text-center">$1600.00</p>
                </div>
                <p class="text-justify">10% en programas de formación de <br /> Legacy School of Ownership-LSO</p>
            </td>
            <td class="px-2">
                <div class="text-dark mb-2">
                    <p class="fs-1 text-center">$2390.00</p>
                </div>
                <p class="text-justify">25% en programas de formación de <br />Legacy School of Ownership-LSO</p>
            </td>
        </tr>

        <tr class="bg-gray-100">
            <th class="px-2" scope="row">Trampas Familiares</th>
            <td class="px-2"><i class="bi bi-check text-success fs-4"></i></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
        </tr>
        <tr>
            <th class="px-2" scope="row">Tipologías de Empresa Familiar</th>
            <td class="px-2"></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
        </tr>
        <tr class="bg-gray-100">
            <th class="px-2" scope="row">Tipologías Fundador</th>
            <td class="px-2"></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
        </tr>
        <tr>
            <th class="px-2" scope="row">Competencias del Sucesor</th>
            <td class="px-2"></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
        </tr>
        <tr class="bg-gray-100">
            <th class="px-2" scope="row">Equipaje Emocional</th>
            <td class="px-2"></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
        </tr>
        <tr>
            <th class="px-2" scope="row">Cultura de la Propiedad</th>
            <td class="px-2"></td>
            <td class="px-2"></td>
            <td class="px-2"></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
        </tr>
        <tr class="bg-gray-100">
            <th class="px-2" scope="row">Estrategia Familiar</th>
            <td class="px-2"></td>
            <td class="px-2"></td>
            <td class="px-2"></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
        </tr>
        <tr>
            <th class="px-2" scope="row">Estrategia Patrimonial</th>
            <td class="px-2"></td>
            <td class="px-2"></td>
            <td class="px-2"></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
        </tr>
        <tr class="bg-gray-100">
            <th class="px-2" scope="row">Estructura Patrimonial</th>
            <td class="px-2"></td>
            <td class="px-2"></td>
            <td class="px-2"></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
        </tr>
        <tr>
            <th class="px-2" scope="row">Estructura Familiar</th>
            <td class="px-2"></td>
            <td class="px-2"></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
        </tr>
        <tr class="bg-gray-100">
            <th class="px-2" scope="row">Etapa de la Empresa</th>
            <td class="px-2"></td>
            <td class="px-2"></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
        </tr>
        <tr>
            <th class="px-2" scope="row">Gobierno Corporativo A Patologías</th>
            <td class="px-2"></td>
            <td class="px-2"></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
        </tr>
        <tr class="bg-gray-100">
            <th class="px-2" scope="row">Gobierno Corporativo B Evolución</th>
            <td class="px-2"></td>
            <td class="px-2"></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
        </tr>
        <tr>
            <th class="px-2" scope="row">Estructura Organizacional</th>
            <td class="px-2"></td>
            <td class="px-2"></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
        </tr>
        <tr class="bg-gray-100">
            <th class="px-2" scope="row">Sistemas de Dirección</th>
            <td class="px-2"></td>
            <td class="px-2"></td>
            <td class="px-2"></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
        </tr>
        <tr>
            <th class="px-2" scope="row">Planeación Estratégica Empresarial</th>
            <td class="px-2"></td>
            <td class="px-2"></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
        </tr>
        <tr class="bg-gray-100">
            <th class="px-2" scope="row">Sistema Familiar, Patrimonial y Empresarial</th>
            <td class="px-2"></td>
            <td class="px-2"></td>
            <td class="px-2"></td>
            <td class="px-2 text-center"><i class="bi bi-check text-success fs-4"></i></td>
        </tr>
    </tbody>
</table>