@model List<LegacyTest.Models.Plan>

<div class="card rounded-lg overflow-hidden mb-5">
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr class="bg-primary text-white">
                        <th class="py-3 w-25" scope="col"></th>
                        <th class="py-3 w-15" scope="col">Punto de Partida Empresarial</th>
                        <th class="py-3 w-15" scope="col">Suite Integral de Diagnóstico</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="px-2" scope="row"></th>
                        <td class="px-2">
                            <p class="small">¿Sabías que ciertos patrones de comportamiento, creencias y prácticas en tu empresa familiar podrían ser trampas que limitan su crecimiento y armonía? ¡Descúbrelo con nuestro cuestionario!</p>
                        </td>
                        <td class="px-2">
                            <p class="small">Evalúa tu empresa familiar con nuestros cuestionarios: aborda las tipologías de fundadores y empresas, las etapas de desarrollo y las trampas comunes. Identifica áreas de mejora y fortalece tu legado.</p>
                        </td>
                    </tr>
                    <tr class="">
                        <th class="px-2" scope="row">Cuentas de usuario</th>
                        <td class="px-2">10</td>
                        <td class="px-2">Ilimitadas</td>
                    </tr>
                    <tr>
                        <th class="px-2" scope="row">Precios [No incluye IVA]</th>
                        <td class="px-2">
                            <div class="text-dark mb-2">
                                <span class="h1">$ -</span>
                            </div>
                            <p class="small">Descubre las trampas que te impiden avanzar</p>
                        </td>
                        <td class="px-2">
                            <div class="text-dark mb-2">
                                <span class="h1">$2390.00</span>
                            </div>
                            <p class="small">25% en programas de formación de <br />Legacy School of Ownership-LSO.</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
