<style>
    .table th, .table td {
        vertical-align: middle;
        padding: 5px; /* Ajusta el padding según tus necesidades */
    }

    .progress {
        margin: 0 auto;
        width: 80%; /* Ajusta el ancho según tus necesidades */
    }

    .progress-bar {
        transition: width 0.6s ease;
    }

    .rectangle.yellow {
        background-color: #f9dd7a;
    }

    .rectangle.cyan {
        background-color: #8fd6cb;
    }

    .rectangle.pink {
        background-color: #f78da7;
    }

    .rectangle.blue {
        background-color: #71c3e3;
    }
</style>


<div class="row mb-2">
    <div class="col-md-12 d-flex justify-content-center align-items-center">
        <div class="card w-100 border p-2">
            <div class="card-header">
                <table class="table table-borderless text-center mb-0">
                    <tr>
                        <td class="rectangle yellow w-25">ÚTOPICA</td>
                        <td class="rectangle cyan w-25">IDEAL</td>
                    </tr>
                    <tr>
                        <td class="rectangle pink w-25">CRÍTICA</td>
                        <td class="rectangle blue w-25">ASTUTA</td>
                    </tr>
                </table>
            </div>
            <div class="card-body">
                <canvas class="chart w-100" id="myChart1" style="height:45vh;"></canvas>
            </div>

        </div>
    </div>
</div>

<div class="row mb-2">
    <div class="col-md-12 d-flex justify-content-center align-items-center">
        <div class="card w-100 border">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="col-2"></th>
                            <th scope="col" class="col-5 text-center">Direccionamiento</th>
                            <th scope="col" class="col-5 text-center">Confianza</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Empresa</th>
                            <td>
                                <div class="progress" id="companyDirection" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>
                            </td>
                            <td>
                                <div class="progress" id="companyTrust" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Propiedad</th>
                            <td>
                                <div class="progress" id="propertyDirection" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>
                            </td>
                            <td>
                                <div class="progress" id="propertyTrust" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Familia</th>
                            <td>
                                <div class="progress" id="familyDirection" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>
                            </td>
                            <td>
                                <div class="progress" id="familyTrust" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>