
<div class="row mb-2">
    <div class="col-12">
        <div class="alert alert-primary text-center" role="alert">
            <p class="fs-1 fw-bolder mb-3" id="characterization17"></p>
            <div class="progress" role="progressbar" id="progressBar17" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar " style="width:0%">0%</div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-12">
        <div class="card w-100 border p-2">
            <canvas class="chart" id="myChart17" style="max-height:300px;"></canvas>
        </div>
    </div>
</div>
