<div class="alert alert-primary text-center" role="alert" >          
    <p class="fs-1 fw-bolder mb-3" id="characterization2"></p>
    <div class="row mb-3">
        <div class="col-12">
            <label class="fw-bolder">Ego Empresarial <span id="corporateEgoType"></span></label>
            <div class="progress" id="corporateEgo" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 0%">0%</div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <label class="fw-bolder">Ego Familiar <span id="familyEgoType"></span></label>
            <div class="progress" id="familyEgo" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 0%">0%</div> 
            </div>
        </div>
    </div>
</div>
