<div class="row mt-3 mb-3">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="card border p-2">
            <canvas class="chart" id="myChart15" style="width:500px;"></canvas>
        </div>
    </div>
</div>
