<div class="row mb-2">
    <div class="col-12">
        <div class="card w-100 border p-2">
            <canvas class="chart" id="myChart18" style="min-height:300px;"></canvas>
        </div>
    </div>
</div>