<div class="row mt-3 mb-3">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="card w-50 border p-2">
            <canvas class="chart" id="myChart6" style="height:300px;"></canvas>
        </div>
    </div>
</div>
