<div class="row mt-3 mb-3">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="card border p-2">
            <canvas class="chart" id="myChart4" style="width:700px;"></canvas>
        </div>       
    </div>      
</div>

