@using LegacyTest.Tools

@{
    int userRoleId;
    bool isButtonEnabled = false;
    string roleString = SessionHelper.GetValue(User, "IdRole");

    if (int.TryParse(roleString, out userRoleId))
    {
        isButtonEnabled = userRoleId == 2;
    }
}


<header class="card card-waves">
    <div class="card-body px-5 pt-5 pb-0">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6">
                <p class="lead mb-4">
                    ¡Haz que la gestión de datos sea sencilla y efectiva para lograr un equipo más fuerte y una organización más eficiente!
                    <br />
                <p class="lead mb-4">
                    Actualiza tus datos y aprovecha al máximo tu participación!
                </p>
            </div>
            <div class="col-lg-4"><img class="img-fluid" src="~/assets/img/illustrations/team-spirit.svg" style="min-height:30vh" /></div>
        </div>
    </div>
</header>

<header class="page-header page-header-dark bg-gradient-primary-to-secondary ">
    <div class="container-xl px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto ">
                    <div class="page-header-title">
                        <div class="page-header-icon"><i data-feather="package"></i></div>
                        Organización
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row  m-3">
                <div class="card text-center h-100">
                    <div class="card-body px-5 pt-5 d-flex flex-column">
                        <div class="h3 text-primary">Actualizar Información</div>
                        <p class="text-muted mb-4">
                            Administra con facilidad la información vital de tu organización y de tus compañeros de equipo.
                            Mantén todo en orden y conectado para potenciar la colaboración y el rendimiento conjunto.
                        </p>
                        <form id="companyForm">
                            <div class="col-md-12 mb-3">
                                <label class="small mb-1" for="BusinessName">Nombre de la empresa</label>
                                <input class="form-control" id="BusinessName" type="text" placeholder="Ingresa el nombre de tu empresa" required />
                            </div>
                            <div class="col-md-12 mb-3">
                                <label class="small mb-1">Identificación tributaria</label>
                                <div class="input-group">
                                    <select class="form-select w-50" id="TypeReg" name="TypeReg" required>
                                        <option value="NO DATA" selected>SIN DEFINIR</option>
                                        <option value="CUIT">Argentina - CUIT</option>
                                        <option value="CUIL">Argentina - CUIL</option>
                                        <option value="NIT">Bolivia - NIT</option>
                                        <option value="CPF">Brasil - CPF</option>
                                        <option value="CNPJ">Brasil - CNPJ</option>
                                        <option value="SIN">Canadá - SIN</option>
                                        <option value="NAS">Canadá - NAS</option>
                                        <option value="RUT">Chile - RUT</option>
                                        <option value="RUN">Chile - RUN</option>
                                        <option value="NIT">Colombia - NIT</option>
                                        <option value="RUT">Colombia - RUT</option>
                                        <option value="NITE">Costa Rica - NITE</option>
                                        <option value="RUC">Ecuador - RUC</option>
                                        <option value="RNC">República Dominicana - RNC</option>
                                        <option value="NIT">El Salvador - NIT</option>
                                        <option value="NIF">España - NIF</option>
                                        <option value="NIE">España - NIE</option>
                                        <option value="CIF">España - CIF</option>
                                        <option value="SSN">Estados Unidos - SSN</option>
                                        <option value="TIN">Estados Unidos - TIN</option>
                                        <option value="Numéro Fiscal">Francia - Numéro Fiscal</option>
                                        <option value="NIT">Guatemala - NIT</option>
                                        <option value="RTN">Honduras - RTN</option>
                                        <option value="Partita IVA">Italia - Partita IVA</option>
                                        <option value="RFC">México - RFC</option>
                                        <option value="NSS">México - NSS</option>
                                        <option value="RUC">Panamá - RUC</option>
                                        <option value="RUC">Paraguay - RUC</option>
                                        <option value="RUC">Nicaragua - RUC</option>
                                        <option value="RUC">Perú - RUC</option>
                                        <option value="RUT">Uruguay - RUT</option>
                                        <option value="RIF">Venezuela - RIF</option>
                                    </select>
                                    <input type="text" class="form-control w-50" placeholder="Digita el número de identificación" id="CommercialReg" required />
                                    <label class="text-center small">"Ingresa el número de identificación con guiones siendo el caso"</label>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="small text-center">
                                    <button type="button" class="btn btn-block btn-primary" id="updateOrganizationButton" @(isButtonEnabled ? "" : "disabled")>Actualizar tu organización</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="small text-center">
                                    <form id="activationPlanForm">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="token" name="token" placeholder="Digita tu código" aria-label="Digita tu código" aria-describedby="btnGroupAddon">
                                            <button type="button" class="btn btn-secondary" id="activatePlanButton">Activa Plan Gratuito</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row m-3">

                <div class="card p-3">
                    <div class="card-header">
                        <label>Miembros de la Organización</label>
                    </div>
                    <div class="card-body">
                        <table id="peopleTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Email</th>
                                    <th>Rol</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="row mb-3 mt-3">
                <div class="card text-center h-100">
                    <div class="card-body px-5 pt-5 d-flex flex-column">
                        <div>
                            <div class="h3 text-primary">Invitar Miembro de la Organización</div>
                            <p class="text-muted mb-4">
                                Envía una invitación a nuevos miembros para unirse a tu organización y trabajar en equipo. Facilita la colaboración y optimiza el rendimiento colectivo.
                            </p>
                        </div>
                        <div class="icons-org-create align-items-center mx-auto mt-auto">
                            <i class="icon-users" data-feather="users"></i>
                            <i class="icon-plus fas fa-plus"></i>
                        </div>
                    </div>
                  
                    <!-- Botón para abrir el modal -->
                    <div class="card-footer bg-transparent px-5 py-4">
                        <div class="small text-center">
                            <button type="button" class="btn btn-block btn-primary" id="addMemberButton" @(isButtonEnabled ? "" : "disabled")
                            data-bs-toggle="modal" data-bs-target="#addMemberModal">
                            Agregar miembro</button>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="addMemberModal" tabindex="-1" aria-labelledby="addMemberModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addMemberModalLabel">Agregar miembro</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="addMemberForm">
                                        <div class="mb-3">
                                            <label for="memberName" class="form-label">Nombre de la persona</label>
                                            <input type="text" class="form-control" id="memberName" placeholder="Ingresa el nombre" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="memberEmail" class="form-label">Correo electrónico</label>
                                            <input type="email" class="form-control" id="memberEmail" placeholder="Ingresa el correo electrónico" required>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" id="submitAddMemberForm">Enviar invitación</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row mb-3">
                <div class="card text-center h-100">
                    <div class="card-body px-5 pt-5 d-flex flex-column align-items-between">
                        <div>
                            <div class="h3 text-secondary">Unirse a la Organización</div>
                            <p class="text-muted mb-4">
                                Únete a tu organización fácilmente si has recibido una invitación.
                                Es tu oportunidad de formar parte del equipo! Completa tu registro y comienza a colaborar con tus compañeros de manera rápida y sencilla. ¡Bienvenido a bordo!
                            </p>
                        </div>
                        <div class="icons-org-join align-items-center mx-auto">
                            <i class="icon-user" data-feather="user"></i>
                            <i class="icon-arrow fas fa-long-arrow-alt-right"></i>
                            <i class="icon-users" data-feather="users"></i>
                        </div>
                    </div>
                  
                    <!-- Botón para abrir el modal -->
                    <div class="card-footer bg-transparent px-5 py-4">
                        <div class="small text-center">
                            <button type="button" class="btn btn-block btn-secondary" id="addCompany" data-bs-toggle="modal" data-bs-target="#addCompanyModal">Unirte a tu organización</button>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="addCompanyModal" tabindex="-1" aria-labelledby="addMemberModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addMemberModalLabel">Unirse a la Organización</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="addCompanyForm">
                                        <div class="mb-3">
                                            <label for="memberName" class="form-label">Código de Invitación</label>
                                            <input type="text" class="form-control" id="tokenInvitation" placeholder="Ingresa el código" required>
                                        </div>                                       
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" id="submitAddCompanyForm">Unirse</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

   

</div>

@section Scripts {
    <script src="~/js/company.organization.js"></script>
}
