<header class="card card-waves">
    <div class="card-body px-5 pt-5 pb-0">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6">
                <p class="lead mb-4">
                    ¡Haz que la gestión de datos sea sencilla y efectiva para lograr un equipo más fuerte y una organización más eficiente!
                    <br />
                <p class="lead mb-4">
                    Actualiza tus datos y aprovecha al máximo tu participación!
                </p>
            </div>
            <div class="col-lg-4"><img class="img-fluid" src="~/assets/img/illustrations/team-spirit.svg" style="min-height:30vh" /></div>
        </div>
    </div>
</header>

<header class="page-header page-header-dark bg-gradient-primary-to-secondary ">
    <div class="container-xl px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto ">
                    <div class="page-header-title">
                        <div class="page-header-icon"><i data-feather="package"></i></div>
                        Organización
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>



<div class="container-xl px-4">
    <div class="row justify-content-center">

        <div class="col-md-8">
            <div class="row  m-3">
                <div class="card text-center h-100">
                    <div class="card-body px-5 pt-5 d-flex flex-column">
                        <form action="">
                            <div class="col-md-12 mb-3">
                                <label class="small mb-1" for="BusinessName">Nombre de la empresa</label>
                                <input class="form-control" id="BusinessName" type="text" placeholder="Ingresa el nombre de tu empresa" />
                            </div>
                            <div class="col-md-12 mb-3">
                                <label class="small mb-1">Identificación tributaria</label>
                                <div class="input-group">
                                    <div class="input-group">
                                        <select class="form-select w-50" id="TypeReg" name="TypeReg">
                                            <option value="CUIT">Argentina - CUIT</option>
                                            <option value="CUIL">Argentina - CUIL</option>
                                            <option value="NIT">Bolivia - NIT</option>
                                            <option value="CPF">Brasil - CPF</option>
                                            <option value="CNPJ">Brasil - CNPJ</option>
                                            <option value="SIN">Canadá - SIN</option>
                                            <option value="NAS">Canadá - NAS</option>
                                            <option value="RUT">Chile - RUT</option>
                                            <option value="RUN">Chile - RUN</option>
                                            <option value="NIT" selected>Colombia - NIT</option>
                                            <option value="RUT">Colombia - RUT</option>
                                            <option value="NITE">Costa Rica - NITE</option>
                                            <option value="RUC">Ecuador - RUC</option>
                                            <option value="RNC">República Dominicana - RNC</option>
                                            <option value="NIT">El Salvador - NIT</option>
                                            <option value="NIF">España - NIF</option>
                                            <option value="NIE">España - NIE</option>
                                            <option value="CIF">España - CIF</option>
                                            <option value="SSN">Estados Unidos - SSN</option>
                                            <option value="TIN">Estados Unidos - TIN</option>
                                            <option value="Numéro Fiscal">Francia - Numéro Fiscal</option>
                                            <option value="NIT">Guatemala - NIT</option>
                                            <option value="RTN">Honduras - RTN</option>
                                            <option value="Partita IVA">Italia - Partita IVA</option>
                                            <option value="RFC">México - RFC</option>
                                            <option value="NSS">México - NSS</option>
                                            <option value="RUC">Panamá - RUC</option>
                                            <option value="RUC">Paraguay - RUC</option>
                                            <option value="RUC">Nicaragua - RUC</option>
                                            <option value="RUC">Perú - RUC</option>
                                            <option value="RUT">Uruguay - RUT</option>
                                            <option value="RIF">Venezuela - RIF</option>
                                        </select>
                                        <input type="text" class="form-control w-50" placeholder="Digita el número de identificación" />
                                        <label class="text-center small">"Ingresa el número de identificación con guiones siendo el caso"</label>
                                    </div>
                                </div>
                            </div>
                            <div class="small text-center"><a class="btn btn-block btn-primary" href="#">Actualizar tu organización</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="row mb-3 mt-3">
                <div class="card text-center h-100">
                    <div class="card-body px-5 pt-5 d-flex flex-column">
                        <div>
                            <div class="h3 text-primary">Actualizar Información</div>
                            <p class="text-muted mb-4">
                                Administra con facilidad la información vital de tu organización y de tus compañeros de equipo.
                                Mantén todo en orden y conectado para potenciar la colaboración y el rendimiento conjunto.
                            </p>
                        </div>
                        <div class="icons-org-create align-items-center mx-auto mt-auto">
                            <i class="icon-users" data-feather="users"></i>
                            <i class="icon-plus fas fa-plus"></i>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent px-5 py-4">
                        <div class="small text-center"><a class="btn btn-block btn-primary" href="#">Agregar miembros</a></div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="card text-center h-100">
                    <div class="card-body px-5 pt-5 d-flex flex-column align-items-between">
                        <div>
                            <div class="h3 text-secondary">Unirse</div>
                            <p class="text-muted mb-4">
                                "Únete a tu organización fácilmente si has recibido una invitación.
                                Es tu oportunidad de formar parte del equipo! Completa tu registro y comienza a colaborar con tus compañeros de manera rápida y sencilla. ¡Bienvenido a bordo!"

                            </p>
                        </div>
                        <div class="icons-org-join align-items-center mx-auto">
                            <i class="icon-user" data-feather="user"></i>
                            <i class="icon-arrow fas fa-long-arrow-alt-right"></i>
                            <i class="icon-users" data-feather="users"></i>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent px-5 py-4">
                        <div class="small text-center"><a class="btn btn-block btn-secondary" href="#">Unirte a tu organización</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>