<!-- Main page content-->
<div class="container-xl px-4">
    <div class="text-center my-10">
      
    </div>
    <!-- Detailed pricing example-->
    <div class="pricing-detailed">
        <div class="row align-items-center g-0">
            <!-- Detailed pricing column 1-->
            <div class="col-lg-6 z-1 mb-4 mb-lg-0">
                <div class="card text-center border-0">
                    <div class="card-header bg-transparent justify-content-center py-4"><h5 class="text-primary mb-0">Punto de Partida Empresarial</h5></div>
                    <div class="card-body p-5">
                       
                        <div class="mb-4">
                            <span class="display-4 fw-bold text-dark">$ - </span>                          
                        </div>
                        <ul class="list-unstyled">
                            <li class="d-flex align-items-center justify-content-center mb-3">
                                <i class="text-primary me-2" data-feather="check-circle"></i>
                                Espacio empresarial
                            </li>
                            <li class="d-flex align-items-center justify-content-center mb-3">
                                <i class="text-primary me-2" data-feather="check-circle"></i>
                                Descubre las trampas que te impiden avanzar sin costo
                            </li>
                            <li class="d-flex align-items-center justify-content-center">
                                <i class="text-primary me-2" data-feather="check-circle"></i>
                                10 Cuentas de Usuario
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-center">
                      PLAN ACTUAL
                       
                    </div>
                </div>
            </div>
            <!-- Detailed pricing column 2-->
            <div class="col-lg-6">
                <div class="card bg-dark text-center pricing-detailed-behind">
                    <div class="card-header justify-content-center py-4"><h5 class="mb-0 text-white">GRATUITO</h5></div>
                    <div class="card-body text-white-50 p-5">Este breve estudio está diseñado para ayudarte a identificar y abordar estas trampas, asegurando la sostenibilidad y el éxito de tu negocio y tu familia a largo plazo</div>
                    <div class="card-footer bg-gray-800 text-white d-flex align-items-center justify-content-center" >                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="my-10" />
<div class="container-xl px-4">
    <div class="text-center my-10">
        <h1 class="text-primary mb-2 display-6 fw-bold">Planes y precios</h1>
        <p class="lead mb-0">Compare nuestros planes y escoge el mejor para tu empresa.</p>
    </div>
    <!-- Pricing table example-->
    <div class="card rounded-lg overflow-hidden mb-5">
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr class="bg-dark text-white">
                            <th class="py-3 w-25" scope="col"></th>
                            <th class="py-3 w-15" scope="col">Punto de Partida Empresarial</th>
                            <th class="py-3 w-15" scope="col">Suite de Exploración Empresarial</th>
                            <th class="py-3 w-15" scope="col">Suite de Evaluación Empresarial </th>
                            <th class="py-3 w-15" scope="col">Suite Integral de Diagnóstico </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <th class="px-2" scope="row"></th>
                            <td class="px-2"> <p class="small"> ¿Sabías que ciertos patrones de comportamiento, creencias y prácticas en tu empresa familiar podrían ser trampas que limitan su crecimiento y armonía? ¡Descúbrelo con nuestro cuestionario! Este breve estudio está diseñado para ayudarte a identificar y abordar estas trampas, asegurando la sostenibilidad y el éxito de tu negocio y tu familia a largo plazo.</p></td>
                            <td class="px-2"> <p class="small">En el mundo de las empresas familiares, no solo las trampas familiares influyen en su éxito. Descubre cómo la confianza y la dirección estratégica influyen en tu negocio y cómo puedes mejorar en estos aspectos. Entiende el impacto del fundador en la sucesión y gestión del cambio, crucial para la continuidad y el legado de tu empresa. Aprende en qué etapa del ciclo de vida se encuentra tu empresa y adapta tus estrategias para un crecimiento sostenible.Ilimitadas</p></td>
                            <td class="px-2"> <p class="small">Explora en tu empresa familiar más allá de las trampas comunes. Evalúa cómo las patologías organizativas y el equipaje emocional inciden en tu negocio. Determina la idoneidad del sucesor y su impacto en el liderazgo. Considera la cultura de propiedad en decisiones y estrategias. Participa en nuestro cuestionario y adquiere conocimientos clave para fomentar un crecimiento sostenible y armonioso. Transforma tu empresa con conocimientos valiosos.</p></td>
                            <td class="px-2"> <p class="small">Evalúa tu empresa familiar con nuestros cuestionarios: aborda las tipologías de fundadores y empresas, las etapas de desarrollo y las trampas comunes. Diagnostica patologías organizativas, la carga emocional y las competencias sucesorias. Profundiza en la cultura de propiedad, las estrategias empresariales, familiares y patrimoniales. Examina la estructura familiar, de propiedad y los sistemas de dirección. Identifica áreas de mejora y fortalece tu legado</p></td>
                        </tr>
                        <tr class="">
                            <th class="px-2" scope="row">Espacio empresarial</th>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                        </tr>
                        <tr class="">
                            <th class="px-2" scope="row">Cuentas de usuario</th>
                            <td class="px-2">10</td>
                            <td class="px-2">Ilimitadas</td>
                            <td class="px-2">Ilimitadas</td>
                            <td class="px-2">Ilimitadas</td>
                        </tr>
                        <tr>
                            <th class="px-2" scope="row">Precios [No incluye IVA]</th>
                            <td class="px-2">
                                <div class="text-dark mb-2">
                                    <span class="h1">$ -</span>
                                </div>
                                <p class="small">Descubre las trampas que te impiden avanzar</p>
                                <div class="d-grid"><button class="btn btn-primary" type="button">Escoger Plan</button></div>
                            </td>
                            <td class="px-2">
                                <div class="text-dark mb-2">
                                    <span class="h1">$800.00</span>
                                </div>
                                <p class="small">5% en programas de formacion de <br /> Legacy School of Ownership-LSO</p>
                                <div class="d-grid"><button class="btn btn-primary" type="button">Escoger Plan</button></div>
                            </td>
                            <td class="px-2">
                                <div class="text-dark mb-2">
                                    <span class="h1">$1600.00</span>
                                </div>
                                <p class="small">10% en programas de formacion de <br />  Legacy School of Ownership-LSO.</p>
                                <div class="d-grid"><button class="btn btn-primary" type="button">Escoger Plan</button></div>
                            </td>
                            <td class="px-2">
                                <div class="text-dark mb-2">
                                    <span class="h1">$2390.00</span>
                                </div>
                                <p class="small">25% en programas de formacion de <br />Legacy School of Ownership-LSO.</p>
                                <div class="d-grid"><button class="btn btn-primary" type="button">Escoger Plan</button></div>
                            </td>
                        </tr>

                        <tr class="bg-gray-100">
                            <th class="px-2 small" scope="row">Trampas Familiares</th>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                        </tr>
                        <tr class="">
                            <th class="px-2 small" scope="row">Tipologias de empresa familiar</th>
                            <td class="px-2"></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                        </tr>
                        <tr class="bg-gray-100">
                            <th class="px-2 small" scope="row">Tipologías Fundador</th>
                            <td class="px-2"></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                        </tr>
                        <tr class="">
                            <th class="px-2 small" scope="row">Competencias del Sucesor</th>
                            <td class="px-2"></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                        </tr>
                        <tr class="bg-gray-100">
                            <th class="px-2 small" scope="row">Equipaje emocional</th>
                            <td class="px-2"></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                        </tr>
                        <tr class="">
                            <th class="px-2 small" scope="row">Cultura de la Propiedad</th>
                            <td class="px-2"></td>
                            <td class="px-2"></td>
                            <td class="px-2"></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                        </tr>
                        <tr class="bg-gray-100">
                            <th class="px-2 small" scope="row">Estrategia Familiar</th>
                            <td class="px-2"></td>
                            <td class="px-2"></td>
                            <td class="px-2"></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                        </tr>
                        <tr class="">
                            <th class="px-2 small" scope="row">Estrategia Patrimonial</th>
                            <td class="px-2"></td>
                            <td class="px-2"></td>
                            <td class="px-2"></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                        </tr>
                        <tr class="bg-gray-100">
                            <th class="px-2 small" scope="row">Estructura Patrimonial</th>
                            <td class="px-2"></td>
                            <td class="px-2"></td>
                            <td class="px-2"></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                        </tr>
                        <tr class="">
                            <th class="px-2 small" scope="row">Estructura familiar</th>
                            <td class="px-2"></td>
                            <td class="px-2"></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                        </tr>
                        <tr class="bg-gray-100">
                            <th class="px-2 small" scope="row">Etapa de la empresa</th>
                            <td class="px-2"></td>
                            <td class="px-2"></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                        </tr>
                        <tr class="">
                            <th class="px-2 small" scope="row">Gobierno corporativo A Patologías</th>
                            <td class="px-2"></td>
                            <td class="px-2"></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                        </tr>
                        <tr class="bg-gray-100">
                            <th class="px-2 small" scope="row">Gobierno corporativo B Evolución</th>
                            <td class="px-2"></td>
                            <td class="px-2"></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                        </tr>
                        <tr class="">
                            <th class="px-2 small" scope="row">Estructura Organizacional</th>
                            <td class="px-2"></td>
                            <td class="px-2"></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                        </tr>
                        <tr class="bg-gray-100">
                            <th class="px-2 small" scope="row">Sistemas de dirección</th>
                            <td class="px-2"></td>
                            <td class="px-2"></td>
                            <td class="px-2"></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                        </tr>
                        <tr class="">
                            <th class="px-2 small" scope="row">Planeación estratégica empresarial</th>
                            <td class="px-2"></td>
                            <td class="px-2"></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                        </tr>
                        <tr class="bg-gray-100">
                            <th class="px-2 small" scope="row">Sistema Familiar, patrimonial y empresarial</th>
                            <td class="px-2"></td>
                            <td class="px-2"></td>
                            <td class="px-2"></td>
                            <td class="px-2"><i class="fas fa-check text-green"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>