<main>
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
        <div class="container-xl px-4">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="filter"></i></div>
                            Tablas
                        </h1>
                        <div class="page-header-subtitle">Una extensión de la biblioteca Simple DataTables, personalizada para SB Admin Pro</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Contenido principal de la página -->
    <div class="container-xl px-4 mt-n10">
        <div class="card mb-4">
            <div class="card-header">DataTables Extendidas</div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Cargo</th>
                            <th>Oficina</th>
                            <th>Edad</th>
                            <th>Fecha de Inicio</th>
                            <th>Salario</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th>Cargo</th>
                            <th>Oficina</th>
                            <th>Edad</th>
                            <th>Fecha de Inicio</th>
                            <th>Salario</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>Arquitecto de Sistemas</td>
                            <td>Edimburgo</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                            <td>$320,800</td>
                            <td><div class="badge bg-primary text-white rounded-pill">Tiempo Completo</div></td>
                            <td>
                                <button class="btn btn-datatable btn-icon btn-transparent-dark me-2"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                                <button class="btn btn-datatable btn-icon btn-transparent-dark"><i class="fa-regular fa-trash-can"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Garrett Winters</td>
                            <td>Contador</td>
                            <td>Tokio</td>
                            <td>63</td>
                            <td>2011/07/25</td>
                            <td>$170,750</td>
                            <td><div class="badge bg-warning rounded-pill">Pendiente</div></td>
                            <td>
                                <button class="btn btn-datatable btn-icon btn-transparent-dark me-2"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                                <button class="btn btn-datatable btn-icon btn-transparent-dark"><i class="fa-regular fa-trash-can"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Ashton Cox</td>
                            <td>Autor Técnico Junior</td>
                            <td>San Francisco</td>
                            <td>66</td>
                            <td>2009/01/12</td>
                            <td>$86,000</td>
                            <td><div class="badge bg-secondary text-white rounded-pill">Medio Tiempo</div></td>
                            <td>
                                <button class="btn btn-datatable btn-icon btn-transparent-dark me-2"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                                <button class="btn btn-datatable btn-icon btn-transparent-dark"><i class="fa-regular fa-trash-can"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Cedric Kelly</td>
                            <td>Desarrollador Senior de JavaScript</td>
                            <td>Edimburgo</td>
                            <td>22</td>
                            <td>2012/03/29</td>
                            <td>$433,060</td>
                            <td><div class="badge bg-info rounded-pill">Contrato</div></td>
                            <td>
                                <button class="btn btn-datatable btn-icon btn-transparent-dark me-2"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                                <button class="btn btn-datatable btn-icon btn-transparent-dark"><i class="fa-regular fa-trash-can"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Airi Satou</td>
                            <td>Contador</td>
                            <td>Tokio</td>
                            <td>33</td>
                            <td>2008/11/28</td>
                            <td>$162,700</td>
                            <td><div class="badge bg-primary text-white rounded-pill">Tiempo Completo</div></td>
                            <td>
                                <button class="btn btn-datatable btn-icon btn-transparent-dark me-2"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                                <button class="btn btn-datatable btn-icon btn-transparent-dark"><i class="fa-regular fa-trash-can"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Brielle Williamson</td>
                            <td>Especialista en Integración</td>
                            <td>Nueva York</td>
                            <td>61</td>
                            <td>2012/12/02</td>
                            <td>$372,000</td>
                            <td><div class="badge bg-primary text-white rounded-pill">Tiempo Completo</div></td>
                            <td>
                                <button class="btn btn-datatable btn-icon btn-transparent-dark me-2"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                                <button class="btn btn-datatable btn-icon btn-transparent-dark"><i class="fa-regular fa-trash-can"></i></button>
                            </td>
                        </tr>
                        <!-- Agrega más filas aquí si es necesario -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card card-icon mb-4">
            <div class="row g-0">
                <div class="col-auto card-icon-aside bg-primary"><i class="me-1 text-white-50" data-feather="alert-triangle"></i></div>
                <div class="col">
                    <div class="card-body py-5">
                        <h5 class="card-title">Documentación de Terceros Disponible</h5>
                        <p class="card-text">Simple DataTables es un complemento de terceros que se utiliza para generar la tabla de demostración anterior. Para obtener más información sobre cómo usar Simple DataTables en tu proyecto, visita la documentación oficial.</p>
                        <a class="btn btn-primary btn-sm" href="https://github.com/fiduswriter/Simple-DataTables" target="_blank">
                            <i class="me-1" data-feather="external-link"></i>
                            Visitar la Documentación de Simple DataTables
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
