    <!-- Main page content-->
<div class="container-xl px-4">
    <div class="text-center my-10">
        <h1 class="text-primary mb-2 display-6 fw-bold">Planes Activos</h1>
        <p class="lead mb-0">Precios diseñados para cualquier tipo de negocio. Sin sorpresas, sin complicaciones.</p>
    </div>
    <!-- Ejemplo de precios detallados -->
    <div class="pricing-detailed">
        <div class="row align-items-center g-0">
            <!-- Columna de precios detallados 1 -->
            <div class="col-lg-6 z-1 mb-4 mb-lg-0">
                <div class="card text-center border-0">
                    <div class="card-header bg-transparent justify-content-center py-4"><h5 class="text-primary mb-0">Suite Integral de Diagnóstico</h5></div>
                    <div class="card-body p-5">
                        <p class="lead mb-4">Evalúa tu empresa familiar con nuestros cuestionarios: aborda las tipologías de fundadores y empresas, las etapas de desarrollo y las trampas comunes. Diagnostica patologías organizativas, la carga emocional y las competencias sucesorias. Profundiza en la cultura de propiedad, las estrategias empresariales, familiares y patrimoniales. Examina la estructura familiar, de propiedad y los sistemas de dirección. Identifica áreas de mejora y fortalece tu legado empresarial.</p>
                        <div class="mb-4">
                            <span class="display-4 fw-bold text-dark">$2390 USD</span>
                            <span>Vigencia: 1 año</span>
                        </div>
                        <ul class="list-unstyled">
                            <li class="d-flex align-items-center justify-content-center mb-3">
                                <i class="text-primary me-2" data-feather="check-circle"></i>
                                1 Espacio empresarial
                            </li>
                            <li class="d-flex align-items-center justify-content-center mb-3">
                                <i class="text-primary me-2" data-feather="check-circle"></i>
                                Cuentas de usuario ilimitadas
                            </li>
                            <li class="d-flex align-items-center justify-content-center mb-3">
                                <i class="text-primary me-2" data-feather="check-circle"></i>
                                Diecisiete (17) cuestionarios
                            </li>
                            <li class="d-flex align-items-center justify-content-center mb-3">
                                <i class="text-primary me-2" data-feather="check-circle"></i>
                                Sin cargos de configuración ni tarifas ocultas
                            </li>
                            <li class="d-flex align-items-center justify-content-center">
                                <i class="text-primary me-2" data-feather="check-circle"></i>
                                Soporte al cliente dedicado
                            </li>
                        </ul>
                    </div>
                    <a class="card-footer d-flex align-items-center justify-content-center" href="#!">
                        Renueva ahora
                        <i class="ms-2" data-feather="arrow-right"></i>
                    </a>
                </div>
            </div>
            <!-- Columna de precios detallados 2 -->
            <div class="col-lg-6">
                <div class="card bg-dark text-center pricing-detailed-behind">
                    <div class="card-header justify-content-center py-4"><h5 class="mb-0 text-white">Oferta PLUS</h5></div>
                    <div class="card-body text-white-50 p-5">25% en programas de formacion de Legacy School of Ownership-LSO</div>
                    <a class="card-footer bg-gray-800 text-white d-flex align-items-center justify-content-center" href="#!">
                        Contactar ventas
                        <i class="ms-2" data-feather="arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="my-10" />
<div class="container-xl px-4">
    <div class="text-center my-10">
        <h1 class="text-primary mb-2">Precios diseñados para tu negocio.</h1>
        <p class="lead">Comienza pequeño y actualiza a medida que creces. Sin sorpresas, sin complicaciones.</p>        
    </div>
    <!-- Ejemplo de columnas de precios -->
 </div>

<hr class="my-10" />
<div class="container-xl px-4">
    <div class="text-center my-10">
        <h1 class="text-primary mb-2 display-6 fw-bold">Planes de Precios</h1>
        <p class="lead mb-0">Compara nuestros planes de precios y elige el que mejor se adapte a ti.</p>
    </div>
    <!-- Ejemplo de tabla de precios -->
    <div class="card rounded-lg overflow-hidden mb-5">
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr class="bg-dark text-white">
                            <th class="py-4" scope="col"></th>
                            <th class="py-4" scope="col">Punto de Partida Empresarial</th>
                            <th class="py-4" scope="col">Suite de Exploración Empresarial</th>
                            <th class="py-4" scope="col">Suite de Evaluación Empresarial</th>
                            <th class="py-4" scope="col">Suite Integral de Diagnóstico</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="p-3" scope="row">Precio</th>
                            <td class="p-3 w-25" style="min-width: 12.5rem">
                                <div class="text-dark mb-2">
                                    <span class="h1">$0 USD</span>
                                    <span class="small text-muted fw-normal">Vigencia: 1 año</span>
                                </div>
                                <p class="small">Un plan básico para nuevos usuarios e individuos.</p>
                                <div class="d-grid"><button class="btn btn-primary" type="button">Elegir Plan</button></div>
                            </td>


                            <td class="p-3 w-25" style="min-width: 12.5rem">
                                <div class="text-dark mb-2">
                                    <span class="h1">$800 USD</span>
                                    <span class="small text-muted fw-normal">Vigencia: 1 año</span>
                                </div>
                                <p class="small">Un plan básico para nuevos usuarios e individuos.</p>
                                <div class="d-grid"><button class="btn btn-primary" type="button">Elegir Plan</button></div>
                            </td>
                            <td class="p-3 w-25" style="min-width: 12.5rem">
                                <div class="text-dark mb-2">
                                    <span class="h1">$1600 USD</span>
                                    <span class="small text-muted fw-normal">Vigencia: 1 año</span>
                                </div>
                                <p class="small">Un plan básico para nuevos usuarios e individuos.</p>
                                <div class="d-grid"><button class="btn btn-primary" type="button">Elegir Plan</button></div>
                            </td>
                            <td class="p-3 w-25" style="min-width: 12.5rem">
                                <div class="text-dark mb-2">
                                    <span class="h1">$2390 USD</span>
                                    <span class="small text-muted fw-normal">Vigencia: 1 año</span>
                                </div>
                                <p class="small">Un plan básico para nuevos usuarios e individuos.</p>
                                <div class="d-grid"><button class="btn btn-primary" type="button">Elegir Plan</button></div>
                            </td>
                        </tr>
                        <tr class="bg-gray-100">
                            <th class="p-3" scope="row">Espacio Empresarial</th>
                            <td class="p-3"><i class="fas fa-check text-green"></i></td>
                            <td class="p-3"><i class="fas fa-check text-green"></i></td>
                            <td class="p-3"><i class="fas fa-check text-green"></i></td>
                            <td class="p-3"><i class="fas fa-check text-green"></i></td>
                        </tr>
                        <tr class="bg-gray-100">
                            <th class="p-3" scope="row">Cuentas de usuario</th>
                            <td class="p-3">2</td>
                            <td class="p-3">Ilimitadas</td>
                            <td class="p-3">Ilimitadas</td>
                            <td class="p-3">Ilimitadas</td>                            
                        </tr>
                        <tr class="bg-gray-100">
                            <th class="p-3" scope="row">Cuestionarios</th>
                            <td class="p-3">1</td>
                            <td class="p-3">4</td>
                            <td class="p-3">8</td>
                            <td class="p-3">17</td>
                        </tr>
                        <tr>
                            <th class="p-3" scope="row">Sin anuncios</th>
                            <td class="p-3"><i class="fas fa-check text-green"></i></td>
                            <td class="p-3"><i class="fas fa-check text-green"></i></td>
                            <td class="p-3"><i class="fas fa-check text-green"></i></td>
                            <td class="p-3"><i class="fas fa-check text-green"></i></td>
                        </tr>
                        <tr>
                            <th class="p-3" scope="row">Oferta PLUS</th>
                            <td class="p-3"><i class="fas fa-check text-green"></i></td>
                            <td class="p-3"><i class="fas fa-check text-green"></i></td>
                            <td class="p-3"><i class="fas fa-check text-green"></i></td>
                            <td class="p-3"><i class="fas fa-check text-green"></i></td>
                        </tr>
                        <tr class="bg-gray-100">
                            <th class="p-3" scope="row">PLUS</th>
                            <td class="p-3">Descubre las trampas que te impiden avanzar sin costo</td>
                            <td class="p-3">5% en programas de formacion de Legacy School of Ownership-LSO</td>
                            <td class="p-3">10% en programas de formacion de Legacy School of Ownership-LSO</td>
                            <td class="p-3">25% en programas de formacion de Legacy School of Ownership-LSO</td>
                        </tr>
                        <tr class="bg-gray-100">
                            <th class="p-3" scope="row">Recursos premium</th>
                            <td class="p-3"><i class="fas fa-check text-green"></i></td>
                            <td class="p-3"><i class="fas fa-check text-green"></i></td>
                            <td class="p-3"><i class="fas fa-check text-green"></i></td>
                        </tr>
                        <tr>
                            <th class="p-3" scope="row">Proyectos guardados</th>
                            <td class="p-3"><i class="fas fa-check text-green"></i></td>
                            <td class="p-3"><i class="fas fa-check text-green"></i></td>
                            <td class="p-3"><i class="fas fa-check text-green"></i></td>
                        </tr>
                        <tr class="bg-gray-100">
                            <th class="p-3" scope="row">Herramientas de colaboración en equipo</th>
                            <td class="p-3"><i class="fas fa-xmark text-red"></i></td>
                            <td class="p-3"><i class="fas fa-check text-green"></i></td>
                            <td class="p-3"><i class="fas fa-check text-green"></i></td>
                        </tr>
                        <tr>
                            <th class="p-3" scope="row">Crear equipos y grupos</th>
                            <td class="p-3"><i class="fas fa-xmark text-red"></i></td>
                            <td class="p-3"><i class="fas fa-xmark text-red"></i></td>
                            <td class="p-3"><i class="fas fa-check text-green"></i></td>
                        </tr>
                        <tr class="bg-gray-100">
                            <th class="p-3" scope="row">Soporte al cliente</th>
                            <td class="p-3">Solo correo electrónico</td>
                            <td class="p-3">Correo electrónico y teléfono</td>
                            <td class="p-3">Gerente de cuenta dedicado</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

