<style>
    .custom-card {
        border: none;
        border-left: 8px solid #007bff !important;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
    }

    .side-column {
        width: 30px;
        background-color: #007bff;
        display: flex;
        align-items: center;
        justify-content: center;
        writing-mode: sideways-lr;
        text-orientation: sideways;
        color: white;
        font-weight: bold;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }
</style>

<div class="banner-section-right p-0 p-md-4" style="background-image: url('/img/questions-min.jpg');">
    <div class="col-12 col-lg-6 p-3">
        <p class="mb-3 ">
            Descubre los emocionantes cuestionarios que están disponibles en tu plan. ¡Haz clic en <strong>Diligenciar</strong> ahora mismo para completarlos!
        </p>
        <p class=" mb-3 ">
            Responde todas las preguntas con sinceridad utilizando las opciones por cada una.
            No dejes ninguna sin contestar para generar un análisis y reporte completo.
        </p>
        <p class="fw-bold">Tienes 2 intentos y 60 días para completarlo. ¡Comienza ahora mismo!</p>
    </div>
</div>
<div class="row bg-blue2 pb-5">
    <div class="col-md-12 p-5">
        <h3 class=" fw-bolder text-white"><i class="bi bi-journal-check me-2"></i>Cuestionarios</h3>
    </div>
</div>


<div class="container mt-4">
    <div class="card custom-card mb-2">
        <div class="card-body ps-1 pt-0 pb-0">
            <div class="row">
                <div class="side-column">Cultura</div>
                <div class="col ps-3">
                    <div class="row mb-2">
                        <!-- Tarjeta 1 -->
                        <div class="col-12 col-md-6 col-lg-4 d-flex mb-3">
                            <div class="card shadow-sm w-100 h-100 ">
                                <div class="card-header bg-transparent text-center" style="min-height: 80px;">
                                    <div class="d-flex justify-content-center align-items-center gap-2 text-wrap">
                                        <i class="bx bx-buildings fs-1 text-primary"></i>
                                        <span class="fs-6 fw-bold text-primary">Cultura de la propiedad</span>
                                    </div>
                                </div>
                                <div class="card-body text-center d-flex flex-column">
                                    <p class="text-muted flex-grow-1">Completa este formulario para obtener asesoramiento legal sobre derechos de propiedad y protección patrimonial.</p>
                                    <div class="row g-2">
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-edit"></i>
                                                Diligenciar
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm bg-blue4 text-white w-100">
                                                <i class="bx bx-search"></i> Diagnóstico
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-secondary w-100">
                                                <i class="bx bx-download"></i> PDF
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent text-center">
                                    <div class="d-flex flex-column flex-sm-row justify-content-between">
                                        <p class="text-muted m-0">Intentos: <span>2</span>/3</p>
                                        <p class="text-muted m-0">Fecha límite: <span>31/12/2023</span></p>
                                        <p class="text-muted m-0">Tiempo restante: <span>10 días</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tarjeta 2 -->
                        <div class="col-12 col-md-6 col-lg-4 d-flex">
                            <div class="card shadow-sm   w-100 h-100">
                                <div class="card-header bg-transparent text-center" style="min-height: 80px;">
                                    <div class="d-flex justify-content-center align-items-center gap-2 text-wrap">
                                        <i class="bx bxs-business fs-1 text-primary"></i>
                                        <span class="fs-6 fw-bold text-primary">Cultura de la Empresa</span>
                                    </div>
                                </div>
                                <div class="card-body text-center d-flex flex-column">
                                    <p class="text-muted flex-grow-1">
                                        Proporciona información clave sobre la cultura organizacional,
                                        incluyendo valores, ambiente laboral y prácticas empresariales.
                                    </p>
                                    <div class="row g-2">
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-edit"></i>
                                                Diligenciar
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm bg-blue4 text-white w-100">
                                                <i class="bx bx-search"></i> Diagnóstico
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-secondary w-100">
                                                <i class="bx bx-download"></i> PDF
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent text-center">
                                    <div class="d-flex flex-column flex-sm-row justify-content-between">
                                        <p class="text-muted m-0">Intentos: <span>2</span>/3</p>
                                        <p class="text-muted m-0">Fecha límite: <span>31/12/2023</span></p>
                                        <p class="text-muted m-0">Tiempo restante: <span>10 días</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tarjeta 3 -->
                        <div class="col-12 col-md-6 col-lg-4 d-flex">
                            <div class="card shadow-sm   w-100 h-100">
                                <div class="card-header bg-transparent text-center" style="min-height: 80px;">
                                    <div class="d-flex justify-content-center align-items-center gap-2 text-wrap">
                                        <i class="bx bx-group fs-1 text-primary"></i>
                                        <span class="fs-6 fw-bold text-primary">Cultura de la Familia</span>
                                    </div>
                                </div>
                                <div class="card-body text-center d-flex flex-column">
                                    <p class="text-muted flex-grow-1">
                                        Este formulario recopila información sobre los valores, creencias y tradiciones familiares ayudando
                                        al fortalecmiento y compresion de la cultura.
                                    </p>
                                    <div class="row g-2">
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-edit"></i>
                                                Diligenciar
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm bg-blue4 text-white w-100">
                                                <i class="bx bx-search"></i> Diagnóstico
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-secondary w-100">
                                                <i class="bx bx-download"></i> PDF
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent text-center">
                                    <div class="d-flex flex-column flex-sm-row justify-content-between">
                                        <p class="text-muted m-0">Intentos: <span>2</span>/3</p>
                                        <p class="text-muted m-0">Fecha límite: <span>31/12/2023</span></p>
                                        <p class="text-muted m-0">Tiempo restante: <span>10 días</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card custom-card mb-2">
        <div class="card-body ps-1 pt-0 pb-0">
            <div class="row">
                <div class="side-column">Gobierno</div>
                <div class="col ps-3">
                    <div class="row mb-2">
                        <!-- Tarjeta 1 -->
                        <div class="col-12 col-md-6 col-lg-4 d-flex">
                            <div class="card shadow-sm   w-100 h-100">
                                <div class="card-header bg-transparent text-center" style="min-height: 80px;">
                                    <div class="d-flex justify-content-center align-items-center gap-2 text-wrap">
                                        <i class="bx bx-buildings fs-1 text-primary"></i>
                                        <span class="fs-6 fw-bold text-primary">Gobierno de la propiedad</span>
                                    </div>
                                </div>
                                <div class="card-body text-center d-flex flex-column">
                                    <p class="text-muted flex-grow-1">Este formulario recopila información esencial sobre la administración y protección de bienes y patrimonios.</p>
                                    <div class="row g-2">
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-edit"></i>
                                                Diligenciar
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm bg-blue4 text-white w-100">
                                                <i class="bx bx-search"></i> Diagnóstico
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-secondary w-100">
                                                <i class="bx bx-download"></i> PDF
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent text-center">
                                    <div class="d-flex flex-column flex-sm-row justify-content-between">
                                        <p class="text-muted m-0">Intentos: <span>2</span>/3</p>
                                        <p class="text-muted m-0">Fecha límite: <span>31/12/2023</span></p>
                                        <p class="text-muted m-0">Tiempo restante: <span>10 días</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tarjeta 2 -->
                        <div class="col-12 col-md-6 col-lg-4 d-flex">
                            <div class="card shadow-sm   w-100 h-100">
                                <div class="card-header bg-transparent text-center" style="min-height: 80px;">
                                    <div class="d-flex justify-content-center align-items-center gap-2 text-wrap">
                                        <i class="bx bxs-business fs-1 text-primary"></i>
                                        <span class="fs-6 fw-bold text-primary">Gobierno de la Empresa</span>
                                    </div>
                                </div>
                                <div class="card-body text-center d-flex flex-column">
                                    <p class="text-muted flex-grow-1">
                                        Proporciona datos clave sobre la toma de decisiones,
                                        la estructura organizativa y las políticas internas de la empresa
                                    </p>
                                    <div class="row g-2">
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-edit"></i>
                                                Diligenciar
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm bg-blue4 text-white w-100">
                                                <i class="bx bx-search"></i> Diagnóstico
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-secondary w-100">
                                                <i class="bx bx-download"></i> PDF
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent text-center">
                                    <div class="d-flex flex-column flex-sm-row justify-content-between">
                                        <p class="text-muted m-0">Intentos: <span>2</span>/3</p>
                                        <p class="text-muted m-0">Fecha límite: <span>31/12/2023</span></p>
                                        <p class="text-muted m-0">Tiempo restante: <span>10 días</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tarjeta 3 -->
                        <div class="col-12 col-md-6 col-lg-4 d-flex">
                            <div class="card shadow-sm   w-100 h-100">
                                <div class="card-header bg-transparent text-center" style="min-height: 80px;">
                                    <div class="d-flex justify-content-center align-items-center gap-2 text-wrap">
                                        <i class="bx bx-group fs-1 text-primary"></i>
                                        <span class="fs-6 fw-bold text-primary">Gobierno de la Familia</span>
                                    </div>
                                </div>
                                <div class="card-body text-center d-flex flex-column">
                                    <p class="text-muted flex-grow-1">
                                        Este formulario está diseñado para comprender la dinámica de toma de decisiones,
                                        los roles y las responsabilidades dentro de la familia.
                                    </p>
                                    <div class="row g-2">
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-edit"></i>
                                                Diligenciar
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm bg-blue4 text-white w-100">
                                                <i class="bx bx-search"></i> Diagnóstico
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-secondary w-100">
                                                <i class="bx bx-download"></i> PDF
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent text-center">
                                    <div class="d-flex flex-column flex-sm-row justify-content-between">
                                        <p class="text-muted m-0">Intentos: <span>2</span>/3</p>
                                        <p class="text-muted m-0">Fecha límite: <span>31/12/2023</span></p>
                                        <p class="text-muted m-0">Tiempo restante: <span>10 días</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card custom-card mb-2">
        <div class="card-body ps-1 pt-0 pb-0">
            <div class="row">
                <div class="side-column">Estrategia</div>
                <div class="col ps-3">
                    <div class="row mb-2">
                        <!-- Tarjeta 1 -->
                        <div class="col-12 col-md-6 col-lg-4 d-flex">
                            <div class="card shadow-sm   w-100 h-100">
                                <div class="card-header bg-transparent text-center" style="min-height: 80px;">
                                    <div class="d-flex justify-content-center align-items-center gap-2 text-wrap">
                                        <i class="bx bx-buildings fs-1 text-primary"></i>
                                        <span class="fs-6 fw-bold text-primary">Estrategía de la propiedad</span>
                                    </div>
                                </div>
                                <div class="card-body text-center d-flex flex-column">
                                    <p class="text-muted flex-grow-1">
                                        Este formulario está diseñado para recopilar información sobre los objetivos y
                                        planes de gestión patrimonial
                                    </p>
                                    <div class="row g-2">
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-edit"></i>
                                                Diligenciar
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-search"></i> Diagnóstico
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-download"></i> PDF
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent text-center">
                                    <div class="d-flex flex-column flex-sm-row justify-content-between">
                                        <p class="text-muted m-0">Intentos: <span>2</span>/3</p>
                                        <p class="text-muted m-0">Fecha límite: <span>31/12/2023</span></p>
                                        <p class="text-muted m-0">Tiempo restante: <span>10 días</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tarjeta 2 -->
                        <div class="col-12 col-md-6 col-lg-4 d-flex">
                            <div class="card shadow-sm   w-100 h-100">
                                <div class="card-header bg-transparent text-center" style="min-height: 80px;">
                                    <div class="d-flex justify-content-center align-items-center gap-2 text-wrap">
                                        <i class="bx bxs-business fs-1 text-primary"></i>
                                        <span class="fs-6 fw-bold text-primary">Estrategía de la Empresa</span>
                                    </div>
                                </div>
                                <div class="card-body text-center d-flex flex-column">
                                    <p class="text-muted flex-grow-1">
                                        Recopila datos clave sobre los objetivos de crecimiento, competitividad y
                                        sostenibilidad de la empresa.
                                    </p>
                                    <div class="row g-2">
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-edit"></i>
                                                Diligenciar
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-search"></i> Diagnóstico
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-download"></i> PDF
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent text-center">
                                    <div class="d-flex flex-column flex-sm-row justify-content-between">
                                        <p class="text-muted m-0">Intentos: <span>2</span>/3</p>
                                        <p class="text-muted m-0">Fecha límite: <span>31/12/2023</span></p>
                                        <p class="text-muted m-0">Tiempo restante: <span>10 días</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tarjeta 3 -->
                        <div class="col-12 col-md-6 col-lg-4 d-flex">
                            <div class="card shadow-sm   w-100 h-100">
                                <div class="card-header bg-transparent text-center" style="min-height: 80px;">
                                    <div class="d-flex justify-content-center align-items-center gap-2 text-wrap">
                                        <i class="bx bx-group fs-1 text-primary"></i>
                                        <span class="fs-6 fw-bold text-primary">Estrategía de la Familia</span>
                                    </div>
                                </div>
                                <div class="card-body text-center d-flex flex-column">
                                    <p class="text-muted flex-grow-1">
                                        Este formulario explora los valores, metas y
                                        prioridades de la familia en relación con su patrimonio y su legado
                                    </p>
                                    <div class="row g-2">
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-edit"></i>
                                                Diligenciar
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-search"></i> Diagnóstico
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-download"></i> PDF
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent text-center">
                                    <div class="d-flex flex-column flex-sm-row justify-content-between">
                                        <p class="text-muted m-0">Intentos: <span>2</span>/3</p>
                                        <p class="text-muted m-0">Fecha límite: <span>31/12/2023</span></p>
                                        <p class="text-muted m-0">Tiempo restante: <span>10 días</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card custom-card mb-2">
        <div class="card-body ps-1 pt-0 pb-0">
            <div class="row">
                <div class="side-column">Estructura</div>
                <div class="col ps-3">
                    <div class="row mb-2">
                        <!-- Tarjeta 1 -->
                        <div class="col-12 col-md-6 col-lg-4 d-flex">
                            <div class="card shadow-sm   w-100 h-100">
                                <div class="card-header bg-transparent text-center" style="min-height: 80px;">
                                    <div class="d-flex justify-content-center align-items-center gap-2 text-wrap">
                                        <i class="bx bx-buildings fs-1 text-primary"></i>
                                        <span class="fs-6 fw-bold text-primary">Estructura de la propiedad</span>
                                    </div>
                                </div>
                                <div class="card-body text-center d-flex flex-column">
                                    <p class="text-muted flex-grow-1">Este formulario recopila información sobre la organización y distribución de los bienes patrimoniales.</p>
                                    <div class="row g-2">
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-edit"></i>
                                                Diligenciar
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-search"></i> Diagnóstico
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-download"></i> PDF
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent text-center">
                                    <div class="d-flex flex-column flex-sm-row justify-content-between">
                                        <p class="text-muted m-0">Intentos: <span>2</span>/3</p>
                                        <p class="text-muted m-0">Fecha límite: <span>31/12/2023</span></p>
                                        <p class="text-muted m-0">Tiempo restante: <span>10 días</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tarjeta 2 -->
                        <div class="col-12 col-md-6 col-lg-4 d-flex">
                            <div class="card shadow-sm   w-100 h-100">
                                <div class="card-header bg-transparent text-center" style="min-height: 80px;">
                                    <div class="d-flex justify-content-center align-items-center gap-2 text-wrap">
                                        <i class="bx bxs-business fs-1 text-primary"></i>
                                        <span class="fs-6 fw-bold text-primary">Estructura de la Empresa</span>
                                    </div>
                                </div>
                                <div class="card-body text-center d-flex flex-column">
                                    <p class="text-muted flex-grow-1">
                                        Este formulario está diseñado para detallar la jerarquía,
                                        los roles y las responsabilidades dentro de la organización.
                                    </p>
                                    <div class="row g-2">
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-edit"></i>
                                                Diligenciar
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-search"></i> Diagnóstico
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-download"></i> PDF
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent text-center">
                                    <div class="d-flex flex-column flex-sm-row justify-content-between">
                                        <p class="text-muted m-0">Intentos: <span>2</span>/3</p>
                                        <p class="text-muted m-0">Fecha límite: <span>31/12/2023</span></p>
                                        <p class="text-muted m-0">Tiempo restante: <span>10 días</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tarjeta 3 -->
                        <div class="col-12 col-md-6 col-lg-4 d-flex">
                            <div class="card shadow-sm   w-100 h-100">
                                <div class="card-header bg-transparent text-center" style="min-height: 80px;">
                                    <div class="d-flex justify-content-center align-items-center gap-2 text-wrap">
                                        <i class="bx bx-group fs-1 text-primary"></i>
                                        <span class="fs-6 fw-bold text-primary">Estructura de la Familia</span>
                                    </div>
                                </div>
                                <div class="card-body text-center d-flex flex-column">
                                    <p class="text-muted flex-grow-1">
                                        Recopila información sobre la organización familiar, incluyendo roles,
                                        responsabilidades y relaciones internas.
                                    </p>
                                    <div class="row g-2">
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-edit"></i>
                                                Diligenciar
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-search"></i> Diagnóstico
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-download"></i> PDF
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent text-center">
                                    <div class="d-flex flex-column flex-sm-row justify-content-between">
                                        <p class="text-muted m-0">Intentos: <span>2</span>/3</p>
                                        <p class="text-muted m-0">Fecha límite: <span>31/12/2023</span></p>
                                        <p class="text-muted m-0">Tiempo restante: <span>10 días</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card custom-card mb-2">
        <div class="card-body ps-1 pt-0 pb-0">
            <div class="row">
                <div class="side-column">Sucesión</div>
                <div class="col ps-3">
                    <div class="row mb-2">
                        <!-- Tarjeta 1 -->
                        <div class="col-12 col-md-6 col-lg-4 d-flex">
                            <div class="card shadow-sm   w-100 h-100">
                                <div class="card-header bg-transparent text-center" style="min-height: 80px;">
                                    <div class="d-flex justify-content-center align-items-center gap-2 text-wrap">
                                        <i class="bx bx-buildings fs-1 text-primary"></i>
                                        <span class="fs-6 fw-bold text-primary">Sucesión de la propiedad</span>
                                    </div>
                                </div>
                                <div class="card-body text-center d-flex flex-column">
                                    <p class="text-muted flex-grow-1">
                                        ¿Qué demandan? ¿Están contentos? ¿Qué
                                        necesitan? Obtén respuesta enviándoles una encuesta por emailEste formulario recopila información clave
                                        para planificar la transferencia ordenada de bienes y patrimonios.
                                    </p>
                                    <div class="row g-2">
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-edit"></i>
                                                Diligenciar
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-search"></i> Diagnóstico
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-download"></i> PDF
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent text-center">
                                    <div class="d-flex flex-column flex-sm-row justify-content-between">
                                        <p class="text-muted m-0">Intentos: <span>2</span>/3</p>
                                        <p class="text-muted m-0">Fecha límite: <span>31/12/2023</span></p>
                                        <p class="text-muted m-0">Tiempo restante: <span>10 días</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tarjeta 2 -->
                        <div class="col-12 col-md-6 col-lg-4 d-flex">
                            <div class="card shadow-sm   w-100 h-100">
                                <div class="card-header bg-transparent text-center" style="min-height: 80px;">
                                    <div class="d-flex justify-content-center align-items-center gap-2 text-wrap">
                                        <i class="bx bxs-business fs-1 text-primary"></i>
                                        <span class="fs-6 fw-bold text-primary">Sucesión Ejecutiva</span>
                                    </div>
                                </div>
                                <div class="card-body text-center d-flex flex-column">
                                    <p class="text-muted flex-grow-1">
                                        Este formulario está diseñado para identificar y planificar la
                                        transición de liderazgo en posiciones clave dentro de la empresa.
                                    </p>
                                    <div class="row g-2">
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-edit"></i>
                                                Diligenciar
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-search"></i> Diagnóstico
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-download"></i> PDF
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent text-center">
                                    <div class="d-flex flex-column flex-sm-row justify-content-between">
                                        <p class="text-muted m-0">Intentos: <span>2</span>/3</p>
                                        <p class="text-muted m-0">Fecha límite: <span>31/12/2023</span></p>
                                        <p class="text-muted m-0">Tiempo restante: <span>10 días</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tarjeta 3 -->
                        <div class="col-12 col-md-6 col-lg-4 d-flex">
                            <div class="card shadow-sm   w-100 h-100">
                                <div class="card-header bg-transparent text-center" style="min-height: 80px;">
                                    <div class="d-flex justify-content-center align-items-center gap-2 text-wrap">
                                        <i class="bx bx-group fs-1 text-primary"></i>
                                        <span class="fs-6 fw-bold text-primary">Sucesión Familiar</span>
                                    </div>
                                </div>
                                <div class="card-body text-center d-flex flex-column">
                                    <p class="text-muted flex-grow-1">
                                        Recopila información sobre la planificación de la transferencia de roles y
                                        responsabilidades dentro del núcleo familiar.
                                    </p>
                                    <div class="row g-2">
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-edit"></i>
                                                Diligenciar
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-search"></i> Diagnóstico
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-download"></i> PDF
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent text-center">
                                    <div class="d-flex flex-column flex-sm-row justify-content-between">
                                        <p class="text-muted m-0">Intentos: <span>2</span>/3</p>
                                        <p class="text-muted m-0">Fecha límite: <span>31/12/2023</span></p>
                                        <p class="text-muted m-0">Tiempo restante: <span>10 días</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card custom-card mb-2">
        <div class="card-body ps-1 pt-0 pb-0">
            <div class="row">
                <div class="side-column">Sistemas</div>
                <div class="col ps-3">
                    <div class="row mb-2">
                        <!-- Tarjeta 1 -->
                        <div class="col-12 col-md-6 col-lg-4 d-flex">
                            <div class="card shadow-sm   w-100 h-100">
                                <div class="card-header bg-transparent text-center" style="min-height: 80px;">
                                    <div class="d-flex justify-content-center align-items-center gap-2 text-wrap">
                                        <i class="bx bx-buildings fs-1 text-primary"></i>
                                        <span class="fs-6 fw-bold text-primary">Sistemas de la propiedad</span>
                                    </div>
                                </div>
                                <div class="card-body text-center d-flex flex-column">
                                    <p class="text-muted flex-grow-1">
                                        Este formulario recopila información sobre los procesos y mecanismos utilizados
                                        para gestionar y proteger el patrimonio
                                    </p>
                                    <div class="row g-2">
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-edit"></i>
                                                Diligenciar
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-search"></i> Diagnóstico
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-download"></i> PDF
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent text-center">
                                    <div class="d-flex flex-column flex-sm-row justify-content-between">
                                        <p class="text-muted m-0">Intentos: <span>2</span>/3</p>
                                        <p class="text-muted m-0">Fecha límite: <span>31/12/2023</span></p>
                                        <p class="text-muted m-0">Tiempo restante: <span>10 días</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tarjeta 2 -->
                        <div class="col-12 col-md-6 col-lg-4 d-flex">
                            <div class="card shadow-sm   w-100 h-100">
                                <div class="card-header bg-transparent text-center" style="min-height: 80px;">
                                    <div class="d-flex justify-content-center align-items-center gap-2 text-wrap">
                                        <i class="bx bxs-business fs-1 text-primary"></i>
                                        <span class="fs-6 fw-bold text-primary">Sistemas de la Empresa</span>
                                    </div>
                                </div>
                                <div class="card-body text-center d-flex flex-column">
                                    <p class="text-muted flex-grow-1">
                                        Este formulario está diseñado para detallar los sistemas y procesos operativos
                                        que sustentan la actividad empresarial.
                                    </p>
                                    <div class="row g-2">
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-edit"></i>
                                                Diligenciar
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-search"></i> Diagnóstico
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-download"></i> PDF
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent text-center">
                                    <div class="d-flex flex-column flex-sm-row justify-content-between">
                                        <p class="text-muted m-0">Intentos: <span>2</span>/3</p>
                                        <p class="text-muted m-0">Fecha límite: <span>31/12/2023</span></p>
                                        <p class="text-muted m-0">Tiempo restante: <span>10 días</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tarjeta 3 -->
                        <div class="col-12 col-md-6 col-lg-4 d-flex">
                            <div class="card shadow-sm   w-100 h-100">
                                <div class="card-header bg-transparent text-center" style="min-height: 80px;">
                                    <div class="d-flex justify-content-center align-items-center gap-2 text-wrap">
                                        <i class="bx bx-group fs-1 text-primary"></i>
                                        <span class="fs-6 fw-bold text-primary">Sistema de la Familia</span>
                                    </div>
                                </div>
                                <div class="card-body text-center d-flex flex-column">
                                    <p class="text-muted flex-grow-1">
                                        Recopila información sobre los métodos y reglas que rigen la toma de
                                        decisiones y las dinámicas familiares.
                                    </p>
                                    <div class="row g-2">
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-edit"></i>
                                                Diligenciar
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-search"></i> Diagnóstico
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-download"></i> PDF
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent text-center">
                                    <div class="d-flex flex-column flex-sm-row justify-content-between">
                                        <p class="text-muted m-0">Intentos: <span>2</span>/3</p>
                                        <p class="text-muted m-0">Fecha límite: <span>31/12/2023</span></p>
                                        <p class="text-muted m-0">Tiempo restante: <span>10 días</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card custom-card mb-2">
        <div class="card-body ps-1 pt-0 pb-0">
            <div class="row">
                <div class="side-column">Individuo</div>
                <div class="col ps-3">
                    <div class="row mb-2">
                        <!-- Tarjeta 1 -->
                        <div class="col-12 col-md-6 col-lg-4 d-flex">
                            <div class="card shadow-sm   w-100 h-100">
                                <div class="card-header bg-transparent text-center" style="min-height: 80px;">
                                    <div class="d-flex justify-content-center align-items-center gap-2 text-wrap">
                                        <i class="bx bx-buildings fs-1 text-primary"></i>
                                        <span class="fs-6 fw-bold text-primary">Rol del Individuo en la propiedad</span>
                                    </div>
                                </div>
                                <div class="card-body text-center d-flex flex-column">
                                    <p class="text-muted flex-grow-1">
                                        Este formulario recopila información sobre los derechos, responsabilidades y
                                        participación de cada individuo en la gestión del patrimonio
                                    </p>
                                    <div class="row g-2">
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-edit"></i>
                                                Diligenciar
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-search"></i> Diagnóstico
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-download"></i> PDF
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent text-center">
                                    <div class="d-flex flex-column flex-sm-row justify-content-between">
                                        <p class="text-muted m-0">Intentos: <span>2</span>/3</p>
                                        <p class="text-muted m-0">Fecha límite: <span>31/12/2023</span></p>
                                        <p class="text-muted m-0">Tiempo restante: <span>10 días</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tarjeta 2 -->
                        <div class="col-12 col-md-6 col-lg-4 d-flex">
                            <div class="card shadow-sm   w-100 h-100">
                                <div class="card-header bg-transparent text-center" style="min-height: 80px;">
                                    <div class="d-flex justify-content-center align-items-center gap-2 text-wrap">
                                        <i class="bx bxs-business fs-1 text-primary"></i>
                                        <span class="fs-6 fw-bold text-primary">Rol del Individuo en la Empresa</span>
                                    </div>
                                </div>
                                <div class="card-body text-center d-flex flex-column">
                                    <p class="text-muted flex-grow-1">
                                        Este formulario está diseñado para detallar el rol, las responsabilidades y
                                        el impacto de cada persona dentro de la organización.
                                    </p>
                                    <div class="row g-2">
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-edit"></i>
                                                Diligenciar
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-search"></i> Diagnóstico
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-download"></i> PDF
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent text-center">
                                    <div class="d-flex flex-column flex-sm-row justify-content-between">
                                        <p class="text-muted m-0">Intentos: <span>2</span>/3</p>
                                        <p class="text-muted m-0">Fecha límite: <span>31/12/2023</span></p>
                                        <p class="text-muted m-0">Tiempo restante: <span>10 días</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tarjeta 3 -->
                        <div class="col-12 col-md-6 col-lg-4 d-flex">
                            <div class="card shadow-sm   w-100 h-100">
                                <div class="card-header bg-transparent text-center" style="min-height: 80px;">
                                    <div class="d-flex justify-content-center align-items-center gap-2 text-wrap">
                                        <i class="bx bx-group fs-1 text-primary"></i>
                                        <span class="fs-6 fw-bold text-primary">Rol del Individuo en la Familia</span>
                                    </div>
                                </div>
                                <div class="card-body text-center d-flex flex-column">
                                    <p class="text-muted flex-grow-1">
                                        Recopila información sobre las expectativas, intereses y
                                        aportes de cada miembro en el contexto familiar.
                                    </p>
                                    <div class="row g-2">
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-edit"></i>
                                                Diligenciar
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-search"></i> Diagnóstico
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-sm btn-primary w-100">
                                                <i class="bx bx-download"></i> PDF
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent text-center">
                                    <div class="d-flex flex-column flex-sm-row justify-content-between">
                                        <p class="text-muted m-0">Intentos: <span>2</span>/3</p>
                                        <p class="text-muted m-0">Fecha límite: <span>31/12/2023</span></p>
                                        <p class="text-muted m-0">Tiempo restante: <span>10 días</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>